body{
    background-image: url("https://i.imgur.com/HtiW3wJ.jpg");
    background-size: 100%;
}

.inicio{
    display: flex;
    justify-content: space-around;
}

/* Estilo do Facil */
.login{
    background: #013244f1;
    border-radius: 4vw;
    width: 40%;
    height: 27.2vw;
    margin: 0 auto;
    margin-top: 8vw; 
    box-shadow: 5px 10px 25px #00223d inset;
    
}

.login p{
    width: 80%;
    margin: 0 auto;
    font-size: 4.3vw;
   padding-bottom: 0.1vw;
}
.login h2{
    padding-top: 0.1vw;
    font-size: 4vw;

}

.login button{
    border-radius: 4vw;
    min-width: 50%;
    padding: 1.2vw;
    color: #FFF;
    background: linear-gradient(45deg, #030450, #2600ff);
    border: none;
    margin-top: 0.1vw;
    font-size: 2vw;
    cursor: pointer;
    box-shadow: 2px 2px 25px #00223dc7 inset;
}

.login button:hover{
   
     background: #0627e6; 
     transition: 0.15s;
     color: #ffffff; 
     transition: 0.25s; 
     box-shadow: 1px 1px 25px #00223dc7 inset;
}

.red{
    color: #da0f0ff1;
}

.amarelo{
    color: #dfdb0df1;
}

.verde{
    color: #3aa509f1;
}



