body{
    background-image: url("https://i.imgur.com/HtiW3wJ.jpg");
    background-size: 100%;
    
}

.inicio{
    display: flex;
    justify-content: space-around;
}

/* Estilo do Rank */
.rank{
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.facilRank{
  
    width: 18vw;
    height: 18vw;
    border-radius: 37px;
    background: #00131aa2;
   
    
}
.medioRank{
    
    width: 18vw;
    height: 18vw;
    border-radius: 37px;
    background: #00131aa2;
}

.dificilRank{
    margin-top: 1vw; 
    width: 18vw;
    height: 18vw;
    border-radius: 37px;
    background: #00131aa2;
}

.impossivelRank{
    margin-top: 1vw; 
    width: 18vw;
    height: 18vw;
    border-radius: 37px;
    background: #00131aa2;
}

/* Estilo do Facil */
.login{
    background: #00131aa2;
    border-radius: 37px;
    width: 40%;
    height: 37.2vw;
    margin: 0 auto;
    margin-top: 4vw; 
    
}

.login p{
    width: 80%;
    margin: 0 auto;
    font-size: 1.3vw;
   padding-bottom: 0.5vw;
}
.login h2{
    padding-top: 0.1vw;
    font-size: 3vw;

}

.login button{
    border-radius: 37px;
    min-width: 50%;
    padding: 1.2vw;
    color: #FFF;
    background: linear-gradient(45deg, #030450, #2600ff);
    border: none;
    margin-top: 1vw;
    font-size: 2vw;
    cursor: pointer;
}

.login button:hover{
   
     background: #0627e6; 
     transition: 0.15s;
     color: #ffffff; 
     transition: 0.25s; 
}

.formulario{
    margin-top: 50px;
}

.formulario input{
    border-radius: 37px;
    border: none;
    padding: 1vw;
    width: 55%;
    font-size: 1.2vw;
    text-align: center;
}

