body{
    background-image: url("https://i.imgur.com/4CAFmGP.jpg");
    background-size: 100%;
}

.backgroundN p{
    margin-top: 2%;
    
}
.textoAbaixoNivel{

text-align: center;
font-size: 1.8vw ;
text-shadow: 3px 3px 9px #3a0a44;
}


p{
text-align: center;
font-size: 1.3vw ;
}
ul{
 font-size: 1.3vw;
}
.nivel{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    
    
}

.avisoN{
    border: 2px #C0E4FF solid;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10%;
    background-color: #467599 ; opacity: 90%;
    width:42.3vw;
    margin: 0 auto;
}





/* Facil */
.facilN{
    margin-top:3%;
    font-size: 1.5vw ;
    width: 22%;
    background: #00131aa2;
    border: 2px greenyellow solid;
    border-radius: 15px;
    cursor: pointer;
}

.facilN div{
    width: 65%;
    text-align: justify;
    margin: 0 auto;
}

.facilN h2{
    color: greenyellow;
    text-align: center;
    
}

.facilN b{
    color: greenyellow;
}

.facilN:hover{
    box-shadow: 0px 2px 10px rgb(187, 216, 20);
}
.facilN li{
    color: rgba(172, 255, 47, 0.945);
    font-size: 1.2vw ;
    text-shadow: 2px 2px #272727;

}
/* Medio */
.medioN{
    margin-top:3%;
    font-size: 1.5vw ;
    width: 22%;
    background: #00131aa2;
    border: 2px yellow solid;
    border-radius: 15px;
    cursor: pointer;
}

.medioN div{
    width: 65%;
    text-align: justify;
    margin: 0 auto;
}

.medioN h2{
    color:#FFD813;
    text-align: center;
}

.medioN b{
    color: #FFD813;
    text-align: center;
}

.medioN:hover{
    box-shadow: 0px 2px 10px rgb(210, 230, 37);
}
.medioN li{
    color:#FFD813;
    font-size: 1.2vw ;
    text-shadow: 2px 2px #272727;
}
/* Difícil */
.dificilN{
    margin-top:3%;
    font-size: 1.5vw ;
    width: 22%;
    background: #00131aa2;
    border: 2px red solid;
    border-radius: 15px;
    cursor: pointer;
}

.dificilN div{
    width: 65%;
    text-align: justify;
    margin: 0 auto;
}

.dificilN h2{
    color: red;
    text-align: center;
}

.dificilN b{
    color: red;
}

.dificilN:hover{
    box-shadow: 0px 2px 10px rgb(148, 3, 3);
}
.dificilN li{
    color: rgb(197, 4, 4);
    font-size: 1.2vw ;
    text-shadow: 2px 2px #272727;
}
/* Impossível */
.impossivelN{
    margin-top:3%;
    font-size: 1.5vw ;
    width: 22%;
    background: #00131aa2;
    border: 2px #86128C solid;
    border-radius: 15px;
    cursor: pointer;
}

.impossivelN div{
    width: 65%;
    text-align: justify;
    margin: 0 auto;
}

.impossivelN h2{
    color: #86128C;
    text-align: center;
}

.impossivelN b{
    color: #86128C;
}

.impossivelN:hover{
    box-shadow: 0px 2px 10px rgb(102, 0, 70);
}
.impossivelN li{
    color: #86128C;
    font-size: 1.2vw ;
    text-shadow: 2px 2px #272727;
}