.quiz{
    margin: 0 auto;
  
    padding: 50px 25px 70px 25px ;
    width: 37vw;
    margin-top:1.5vw;
    border: 2px #FFF hidden;
    box-shadow: 5px 3px 100px 15px #000c096e;
    border-radius: 20%;
    background-image: linear-gradient(100deg, #6402f7f1, #290c3df1);
  
    
}

.quiz img{
    margin: 0vw 0px 0.6vw 0px;
    width: 14vw;
    border-radius: 50%;
    box-shadow: 5px 10px 25px #000000;

}
.quiz h1{
    font-size: 1.7vw ;
    

}

.quizresposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
    cursor: pointer;
}


.quizresposta div{
    padding-left: 15px;
    padding-right: 15px ;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.1vw #FFF double;
    border-radius: 30px;
    width: 15vw;
    margin-bottom: 13px;
    font-size: 1.3vw ;
    background-image: linear-gradient(100deg, #1a1919f1, #530012f1);
}

.resposta:hover{
    border: 2px greenyellow solid;
}

.resposta{
    pointer-events: none;
}